CreoTest.sdf
.vs/CreoTest/FileContentIndex/1a4925f5-5591-47fc-9c7d-4aa1d14ec4e7.vsidx
.vs/CreoTest/FileContentIndex/8031186c-da47-45af-9c07-4f1e4b9ba07a.vsidx
.vs/CreoTest/FileContentIndex/933d8fbe-f687-4bb8-b02a-aabb672a08a4.vsidx
.vs/CreoTest/FileContentIndex/a47cf2a3-45f5-4c88-abd6-3e2c6f870a48.vsidx
.vs/CreoTest/FileContentIndex/read.lock
.vs/CreoTest/v15/.suo
.vs/CreoTest/v15/Browse.VC.db
.vs/CreoTest/v15/Solution.VC.db
.vs/CreoTest/v15/Solution.VC.db-shm
.vs/CreoTest/v15/Solution.VC.db-wal
.vs/CreoTest/v17/.suo
.vs/CreoTest/v17/Browse.VC.db
.vs/CreoTest/v17/Solution.VC.db
.vs/CreoTest/v17/ipch/5fe1194cbdd887a8.ipch
.vs/CreoTest/v17/ipch/91432f94f1a4fa97.ipch
.vs/CreoTest/v17/ipch/99ccecc815146ac0.ipch
.vs/CreoTest/v17/ipch/bffff069587145ff.ipch
.vs/CreoTest/v17/ipch/AutoPCH/1d2a1bdc5b2dca4c/TINYXML2.ipch
.vs/CreoTest/v17/ipch/AutoPCH/23f801a8fa089b9a/CADMODEL.ipch
.vs/CreoTest/v17/ipch/AutoPCH/6fdf3e7f691857d2/MAIN.ipch
.vs/CreoTest/v17/ipch/AutoPCH/841f9d98af036a6f/CREOASM.ipch
.vs/CreoTest/v17/ipch/AutoPCH/b59d7992ee6f1017/CADMODELTOOL.ipch
.vs/CreoTest/v17/ipch/AutoPCH/cdd4fceacfa9ee60/CADMODEL.ipch
.vs/CreoTest/v17/ipch/AutoPCH/d2fc307170400773/CREOASM.ipch
CreoTestCons/CreoTestCons.def
CreoTestCons/CreoTestCons.rc
CreoTestCons/ReadMe.txt
CreoTestCons/Resource.h
CreoTestCons/stdafx.cpp
CreoTestCons/stdafx.h
CreoTestCons/targetver.h
CreoTestCons/res/CreoTestCons.rc2
CreoTestCons/x64/Debug/CADModel.obj
CreoTestCons/x64/Debug/cl.command.1.tlog
CreoTestCons/x64/Debug/CL.read.1.tlog
CreoTestCons/x64/Debug/CL.write.1.tlog
CreoTestCons/x64/Debug/CreoAsm.obj
CreoTestCons/x64/Debug/CreoTestCons.dll.embed.manifest
CreoTestCons/x64/Debug/CreoTestCons.dll.embed.manifest.res
CreoTestCons/x64/Debug/CreoTestCons.dll.intermediate.manifest
CreoTestCons/x64/Debug/CreoTestCons.lastbuildstate
CreoTestCons/x64/Debug/CreoTestCons.log
CreoTestCons/x64/Debug/CreoTestCons.obj
CreoTestCons/x64/Debug/CreoTestCons.pch
CreoTestCons/x64/Debug/CreoTestCons.res
CreoTestCons/x64/Debug/CreoTestCons.write.1.tlog
CreoTestCons/x64/Debug/CreoTestCons_manifest.rc
CreoTestCons/x64/Debug/link.20220.read.1.tlog
CreoTestCons/x64/Debug/link.20220.write.1.tlog
CreoTestCons/x64/Debug/link.20220-cvtres.read.1.tlog
CreoTestCons/x64/Debug/link.20220-cvtres.write.1.tlog
CreoTestCons/x64/Debug/link.20244.read.1.tlog
CreoTestCons/x64/Debug/link.20244.write.1.tlog
CreoTestCons/x64/Debug/link.20244-cvtres.read.1.tlog
CreoTestCons/x64/Debug/link.20244-cvtres.write.1.tlog
CreoTestCons/x64/Debug/link.23312.read.1.tlog
CreoTestCons/x64/Debug/link.23312.write.1.tlog
CreoTestCons/x64/Debug/link.23312-cvtres.read.1.tlog
CreoTestCons/x64/Debug/link.23312-cvtres.write.1.tlog
CreoTestCons/x64/Debug/link.command.1.tlog
CreoTestCons/x64/Debug/link.read.1.tlog
CreoTestCons/x64/Debug/link.write.1.tlog
CreoTestCons/x64/Debug/link-cvtres.read.1.tlog
CreoTestCons/x64/Debug/link-cvtres.write.1.tlog
CreoTestCons/x64/Debug/mt.command.1.tlog
CreoTestCons/x64/Debug/mt.read.1.tlog
CreoTestCons/x64/Debug/mt.write.1.tlog
CreoTestCons/x64/Debug/rc.command.1.tlog
CreoTestCons/x64/Debug/rc.read.1.tlog
CreoTestCons/x64/Debug/rc.write.1.tlog
CreoTestCons/x64/Debug/stdafx.obj
CreoTestCons/x64/Debug/tinyxml2.obj
CreoTestCons/x64/Debug/vc100.idb
CreoTestCons/x64/Debug/vc100.pdb
CreoTestPMI/CreoTestPMI.cpp
CreoTestPMI/CreoTestPMI.def
CreoTestPMI/CreoTestPMI.h
CreoTestPMI/CreoTestPMI.rc
CreoTestPMI/CreoTestPMI.vcxproj
CreoTestPMI/CreoTestPMI.vcxproj.filters
CreoTestPMI/CreoTestPMI.vcxproj.user
CreoTestPMI/ReadMe.txt
CreoTestPMI/Resource.h
CreoTestPMI/stdafx.cpp
CreoTestPMI/stdafx.h
CreoTestPMI/targetver.h
CreoTestPMI/res/CreoTestPMI.rc2
CreoTestPMI/x64/Debug/cl.command.1.tlog
CreoTestPMI/x64/Debug/CL.read.1.tlog
CreoTestPMI/x64/Debug/CL.write.1.tlog
CreoTestPMI/x64/Debug/CreoTestPMI.dll.embed.manifest
CreoTestPMI/x64/Debug/CreoTestPMI.dll.embed.manifest.res
CreoTestPMI/x64/Debug/CreoTestPMI.dll.intermediate.manifest
CreoTestPMI/x64/Debug/CreoTestPMI.lastbuildstate
CreoTestPMI/x64/Debug/CreoTestPMI.log
CreoTestPMI/x64/Debug/CreoTestPMI.obj
CreoTestPMI/x64/Debug/CreoTestPMI.pch
CreoTestPMI/x64/Debug/CreoTestPMI.res
CreoTestPMI/x64/Debug/CreoTestPMI.vcxprojResolveAssemblyReference.cache
CreoTestPMI/x64/Debug/CreoTestPMI.write.1.tlog
CreoTestPMI/x64/Debug/CreoTestPMI_manifest.rc
CreoTestPMI/x64/Debug/link.12584.read.1.tlog
CreoTestPMI/x64/Debug/link.12584.write.1.tlog
CreoTestPMI/x64/Debug/link.12584-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link.12584-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/link.18008.read.1.tlog
CreoTestPMI/x64/Debug/link.18008.write.1.tlog
CreoTestPMI/x64/Debug/link.18008-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link.18008-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/link.21516.read.1.tlog
CreoTestPMI/x64/Debug/link.21516.write.1.tlog
CreoTestPMI/x64/Debug/link.21516-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link.21516-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/link.4404.read.1.tlog
CreoTestPMI/x64/Debug/link.4404.write.1.tlog
CreoTestPMI/x64/Debug/link.4404-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link.4404-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/link.588.read.1.tlog
CreoTestPMI/x64/Debug/link.588.write.1.tlog
CreoTestPMI/x64/Debug/link.588-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link.588-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/link.command.1.tlog
CreoTestPMI/x64/Debug/link.read.1.tlog
CreoTestPMI/x64/Debug/link.write.1.tlog
CreoTestPMI/x64/Debug/link-cvtres.read.1.tlog
CreoTestPMI/x64/Debug/link-cvtres.write.1.tlog
CreoTestPMI/x64/Debug/mt.command.1.tlog
CreoTestPMI/x64/Debug/mt.read.1.tlog
CreoTestPMI/x64/Debug/mt.write.1.tlog
CreoTestPMI/x64/Debug/rc.command.1.tlog
CreoTestPMI/x64/Debug/rc.read.1.tlog
CreoTestPMI/x64/Debug/rc.write.1.tlog
CreoTestPMI/x64/Debug/stdafx.obj
CreoTestPMI/x64/Debug/vc100.idb
CreoTestPMI/x64/Debug/vc100.pdb
Debug/CreoTest.exp
Debug/CreoTest.lib
Debug/CreoTest.pdb
ipch/creotestpmi-66c9c474/creotestpmi-8ee282f9.ipch
Test/main.cpp
Test/Test.vcxproj
Test/Test.vcxproj.filters
Test/Test.vcxproj.user
Test/x64/Debug/cl.command.1.tlog
Test/x64/Debug/CL.read.1.tlog
Test/x64/Debug/CL.write.1.tlog
Test/x64/Debug/link.command.1.tlog
Test/x64/Debug/link.read.1.tlog
Test/x64/Debug/link.write.1.tlog
Test/x64/Debug/main.obj
Test/x64/Debug/mt.command.1.tlog
Test/x64/Debug/mt.read.1.tlog
Test/x64/Debug/mt.write.1.tlog
Test/x64/Debug/Test.exe.intermediate.manifest
Test/x64/Debug/Test.lastbuildstate
Test/x64/Debug/Test.log
Test/x64/Debug/Test.write.1.tlog
Test/x64/Debug/vc100.idb
Test/x64/Debug/vc100.pdb
x64/Debug/CADModelTool.dll
x64/Debug/CADModelTool.exp
x64/Debug/CADModelTool.ilk
x64/Debug/CADModelTool.lib
x64/Debug/CADModelTool.pdb
x64/Debug/CADXmlTool.dll
x64/Debug/CADXmlTool.exp
x64/Debug/CADXmlTool.ilk
x64/Debug/CADXmlTool.lib
x64/Debug/CADXmlTool.pdb
x64/Debug/CreoTest.dll
x64/Debug/CreoTest.exp
x64/Debug/CreoTest.lib
x64/Debug/CreoTest.pdb
x64/Debug/CreoTestCons.dll
x64/Debug/CreoTestCons.exp
x64/Debug/CreoTestCons.ilk
x64/Debug/CreoTestCons.lib
x64/Debug/CreoTestCons.pdb
x64/Debug/CreoTestPMI.dat
x64/Debug/CreoTestPMI.dll
x64/Debug/CreoTestPMI.exp
x64/Debug/CreoTestPMI.ilk
x64/Debug/CreoTestPMI.lib
x64/Debug/CreoTestPMI.pdb
x64/Debug/Test.exe
x64/Debug/Test.ilk
x64/Debug/Test.pdb
x64/Release/CreoTest.dll
x64/Release/CreoTest.exp
x64/Release/CreoTest.lib
x64/Release/CreoTest.pdb
CreoTest.suo
